@import "tailwindcss";

@theme {
  --color-primary: #4ae2ad;
  --color-secondary: #50e3c2;
  --color-accent: #f5a623;
  --color-background: #415971;
  --color-background-hover: #3a4c5f;
  --color-warning: #f8d7da;
  --color-active-primary: #ffd700;
}

body {
  overflow-y: scroll;
}